.wrapper{
    height: 500px;
    width:100%;
    position: relative;
}
canvas,video{
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
    display: inline-block;
}
canvas{
    z-index:2;
}
video{
    z-index:1;
}